html,
body {
    margin: 0;

    font-family: 'Montserrat', 'Arial';
    font-size: 24px;
    line-height: 1.2;

    background-image: url(./img/bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #1b1c22;
}

*,
*:before,
*:after {
    box-sizing: border-box;
}


/* Container */
.container {
    width: 100%;
    max-width: 1170px;
    margin: 0 auto;
    padding: 0 70px;
}


/* Header */
.header {
    width: 100%;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;

}

.header__logo {
    font-size: 20px;
    color: #efefef;
    padding: 48px 0;
    margin: 0 auto;
}


/* Maim */
.main__content {
    position: relative;
    width: 100%;
    max-width: 1030px;
}

.main__title {
    color: #efefef;
    font-size: 30px;
    padding: 0;
    margin-bottom: 15px;
}

.main__subtitle {
    color: #efefef;
    font-size: 20px;
    max-width: 280px;
    margin-bottom: 80px;
}

.main__suptext {
    color: #efefef;
    font-size: 30px;
    padding: 0;
    margin-bottom: 15px;
}

.main__subtext {
    color: #efefef;
    font-size: 20px;
    max-width: 450px;
    margin-bottom: 80px;
}

.main__info {
    color: #efefef;
    font-size: 30px;
}


/* Buttons */
.button {
    display: inline-block;
    padding: 12px 25px;
    margin-right: 5px;
    border-radius: 25px;
    font-size: 15px;
    border: 2px solid #fff;

    color: #fff;
    text-decoration: none;
    font-family: inherit;
    text-transform: uppercase;
    font-weight: 500;
    opacity: 0;
    animation: ani 2s forwards;
}

@keyframes ani {
    0% {opacity: 0;}
    100% {opacity: 1;}
  }

.button:hover {
    background-color:#efefef;
    color: #1b1c22;
    transition: 0.3s;
}


/* Indev */
.indev {
    margin: 0 auto;
    margin-top: 300px;
    text-align: center;
    opacity: 0.6;
}

.indev__suptext {
    color: #efefef;
    font-size: 30px;
    padding: 0;
    margin-bottom: 15px;
    font-weight: 500;
}


/* adaptive */
@media (max-width: 390px) {
    /* header */
    .header__logo {
        font-size: 18px;
    }

    /* main */
    .main__title {
        font-size: 20px;

    }

    .main__subtitle {
        font-size: 18px;
        margin-bottom: 60px;
    }

    .main__suptext {
        font-size: 20px;
        margin-bottom: 15px;
    }

    .main__suptext {
        font-size: 20px;
    }

    .main__subtext {
        font-size: 18px;
        margin-bottom: 60px;
    }

    .main__info {
        font-size: 20px;
        margin-bottom: 20px;
    }

    /* buttons */
    .buttons {
        margin-bottom: 10px;
    }

    .button {
        font-size: 15px;
        margin-bottom: 10px;
    }


    /* indev */
    .indev {
        margin-bottom: 50px;
    }

    .indev__suptext {
        font-size: 20px;
    }

    .fa-solid fa-code {
        font-weight: 600px;
    }
}

@media (max-width: 410px) {
    /* header */
    .header__logo {
        font-size: 18px;
    }

    /* main */
    .main__title {
        font-size: 20px;

    }

    .main__subtitle {
        font-size: 18px;
        margin-bottom: 60px;
    }

    .main__suptext {
        font-size: 20px;
        margin-bottom: 15px;
    }

    .main__suptext {
        font-size: 20px;
    }

    .main__subtext {
        font-size: 18px;
        margin-bottom: 60px;
    }

    .main__info {
        font-size: 20px;
        margin-bottom: 20px;
    }

    /* buttons */
    .buttons {
        margin-bottom: 10px;
    }

    .button {
        font-size: 15px;
        margin-bottom: 10px;
    }

    /* indev */
    .indev {
        margin-bottom: 50px;
    }

    .indev__suptext {
        font-size: 20px;
    }

    .fa-solid fa-code {
        font-weight: 600px;
    }
}